.modalOverlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(38, 38, 38, 0.505);
    backdrop-filter: blur(5px);
    padding: 20px;
    z-index: 1000;
    border-radius: 20px;
}

.modalHeader {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
}

.modalTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #353535;
    width: fit-content;
}

.modalForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    align-self: flex-end;
    padding: 10px;
    border-radius: 10px;
    background-color: #e8e8e8;
    color: black;
    border: none;
    cursor: pointer;
}