.mainWrapper{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: .5rem;
}

.icon{
    width: 1.2rem;
    height: 1.2rem;
}

.mainWrapper:hover{
    border-radius: 7px;
    cursor: pointer;
    background-color: #e0e0e029;
}

.label{
    font-size: 14px;
    margin: 0;
}