.page {
    display: flex;
    width: 100%;
    padding: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contentSection{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
    height: fit-content;
    min-width: 270px;
    min-height: 400px;
    border: solid 1px #4b4b4b;
    padding: 30px;
    border-radius: 20px;
}